@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

// COLORS
$blackColor: #22262a;
$whiteColor: rgb(243, 242, 242);
$redColor: rgb(187, 4, 4);
$hoverBlackColor: rgb(87, 84, 84);
$footerColor: #171a1d;
$footerNameColor: #94a4b4;
$footerTextColor: $whiteColor;
$subColor: #94a4b4;

// FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Times New Roman', Times, serif;
$mainFont: Staatliches, sans-serif;
$secondFont: Inconsolata, serif;

@mixin buttonStyle {
  transition: all 0.15s;
  width: 50%;
  align-items: center;
  height: 4.5rem;
  line-height: 1;
  background-color: $blackColor;
  border: 2px solid;
  color: $whiteColor;
  font-size: 2rem;
  font-family: Staatliches, sans-serif;
}
