@import '../Variables/Variables.scss';
html,
body {
  margin: 0;
  padding: 0;
  background-color: $blackColor;
}

.app {
  position: relative;
  min-height: 100vh;
  background-color: $blackColor;
}
