@import '../Variables/Variables.scss';

.footer-flex-container {
  display: flex;
  background-color: $footerColor;
  position: relative;
  height: 100px;
  left: 0;
  bottom: 0;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 10px;

  .footer-flex-item {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    background-color: $footerColor;
    color: $footerTextColor;
    font-family: $secondFont;

    .footer-flex-button {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background-color: $footerColor;
      border-color: $whiteColor;
      &:hover {
        background-color: $hoverBlackColor;
        cursor: pointer;
      }

      .logo {
        width: 40px;
      }
    }
  }
}
