@import '../Variables/Variables.scss';

.navbar {
  width: 100%;
  height: 100px;
  background-color: $footerColor;
  display: flex;
  justify-content: left;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  a {
    color: $whiteColor;
    position: relative;
    font-size: 200%;
    text-decoration: none;
    font-family: $titleFont;
    margin: 10px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      filter: invert(100%);
    }
    .logo {
      width: 70px;
    }
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  width: 150%;
  height: 5px;
  background-color: $whiteColor;
  margin: 6px 0px;
  transition: 0.4s;
  @media (max-width: 550px) {
    width: 300%;
  }
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 1;
}

.mobile {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: $blackColor;
  padding-top: 120px;
  transition: 0.4s;

  .logo {
    width: 30px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 16px;
    background-color: $whiteColor;
    color: $blackColor;
    text-decoration: none;
    font-size: 30px;
    font-family: $secondFont;
    min-height: 50px;
  }

  a:hover {
    background-color: $hoverBlackColor;
  }
}

.mobile.is-active {
  left: 0;
}

@media (max-width: 799px) {
  .navbar a {
    display: none;
  }
}
@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}
