@import '../Variables/Variables.scss';

.projectHeading {
  font-family: Staatliches, sans-serif;
  font-size: 40px;
  padding-left: 58px;
}

.projectText {
  font-family: Inconsolata, sans-serif;
  font-size: 20px;
  padding-left: 58px;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-content: space-evenly;
  padding-bottom: 100px;

  h2 {
    text-align: center;
  }

  .project-item {
    width: 380px;
    margin: 10px;
    border: 3px solid $blackColor;
    color: $whiteColor;
    font-family: $titleFont;
  }

  .image {
    width: 100%;
    height: auto;
  }
  .button-container {
    text-align: center;

    button {
      @include buttonStyle();
      justify-items: center;
      width: 150px;
      &:hover {
        background-color: $hoverBlackColor;
        cursor: pointer;
      }
    }
  }
}

.flexbox-item-1 {
  min-height: 100px;
  min-width: auto;
}

.flexbox-item-2 {
  min-height: 100px;
  min-width: auto;
}
